#wrapper {
	display: flex;
	margin-top: 1%;
	margin-bottom: 1%;
}

#table {
	position: relative;
	width: 100%;
	height: 0;
	margin-left: 1%;
	padding-bottom: 100%;
}

.circleBase {
	border-radius: 50%;
	border: 1px solid black;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 25%;
	width: 25%;
	background-image: url("table.png");
}

.profile {
	position: relative;
	top: 90%;
	left: 80%;
	display: inline-block;
	height: 70px;
	width: 70px;
	background: transparent;
}

.container1 {
	height: 100%;
	width: 100%;
}

.container4-2 {
	height: 100%;
	width: 100%;
	display: inline-block;
	transform: rotate(90deg);
}

.container4-2 .userName {
	transform: rotate(315deg);
	top: 84%;
    left: 5%;
}

.container4-2 .role {
	transform: rotate(-135deg);
	top: 74%;
	left: 47%;
}

.container4-2 .profile {
	top: 89%;
}

.container4-2 .points {
	transform: rotate(-90deg);
	top: 89%;
    left: 16%;
}

.container4-3 {
	width: 100%;
	height: 100%;
	display: inline-block;
	transform: rotate(180deg);
}

.container4-3 .userName {
	transform: rotate(180deg);
	left: 9%;
    text-align: right;
}

.container4-3 .role {
	transform: rotate(225deg);
	top: 75%;
	left: 49%;
}

.container4-3 .points {
	transform: rotate(180deg);
}

.container4-3 .handcard {
	transform: rotate(180deg);
}

.container4-4 {
	height: 100%;
	width: 100%;
	transform: rotate(90deg) scaleX(-1) scaleY(-1);
}

.container4-4 .userName {
	transform: rotate(135deg);
	top: 84%;
    left: 5%;
    text-align: right;
}

.container4-4 .role {
	top: 74%;
	left: 48%;
}

.container4-4 .profile {
	top: 89%;
}

.container4-4 .points {
	transform: rotate(90deg);
	text-align: right;
	left: 16%;
}

.container5-2 {
	height: 100%;
	width: 100%;
	display: inline-block;
	transform: rotate(90deg);
}

.container5-2 .userName {
	left: 19%;
    top: 84%;
    transform: rotate(-63deg);
}

.container5-2 .role {
	transform: rotate(-135deg);
	top: 74%;
	left: 48%;
}

.container5-2 .profile {
	top: 89%;
    left: 82%;
}

.container5-2 .points {
	transform: rotate(-90deg);
    top: 89%;
    left: 72%;
}

.container5-2 .cards {
	left: 41%;
	top: 64.5%;
}

.container5-3 {
	height: 100%;
	width: 100%;
	display: inline-block;
	transform: rotate(180deg);
}

.container5-3 .userName {
	left: 68.5%;
    top: 80%;
    transform: rotate(180deg);
}

.container5-3 .role {
	transform: rotate(207deg);
	top: 66%;
	left: 56%;
}

.container5-3 .profile {
	left: 90%;
}

.container5-3 .points {
	transform: rotate(180deg);
	left: 85%;
	top: 83%;
}

.container5-3 .cards {
	left: 51%;
}

.container5-3 .handcard {
	transform: rotate(180deg);
}

.container5-4 {
	height: 100%;
	width: 100%;
	transform: rotate(180deg);
}

.container5-4 .userName {
	left: 1%;
    top: 81%;
    text-align: right;
    transform: rotate(180deg);
}

.container5-4 .role {
	transform: rotate(-207deg);
	top: 64%;
	left: -2%;
}

.container5-4 .profile {
	left: 1%;
}

.container5-4 .points {
	transform: rotate(180deg);
    left: 1%;
    top: 84%;
    text-align: right;
}

.container5-4 .cards {
	left: 24%;
	transform: scaleX(-1);
}

.container5-4 .handcard {
	transform: rotate(180deg) scaleX(-1);
}

.container5-5 {
	height: 100%;
	width: 100%;
	transform: rotate(90deg) scaleX(-1) scaleY(-1);
}

.container5-5 .userName {
	left: 51.5%;
    top: 84%;
    text-align: right;
    transform: rotate(63deg);
}

.container5-5 .role {
	transform: rotate(63deg);
	top: 78%;
	left: 38%;
}

.container5-5 .profile {
	left: 9%;
    top: 89%;
}

.container5-5 .points {
	transform: rotate(90deg);
	left: 14%;
    top: 89%;
    text-align: right;
}

.container5-5 .cards {
	left: 34%;
    top: 64.5%;
    transform: scaleX(-1);
}

.container5-5 .handcard {
	transform: scaleX(-1);
}

.container6-2 {
	height: 100%;
	width: 100%;
	display: inline-block;
	transform: rotate(90deg);
}

.container6-2 .userName {
	left: 29%;
    top: 82.5%;
    transform: rotate(-90deg);
}

.container6-2 .role {
    transform: rotate(-135deg);
    top: 73%;
    left: 47%;
    font-size: 1.7vw;
}

.container6-2 .profile {
	left: 83%;
    top: 89.5%;
}

.container6-2 .points {
	transform: rotate(-90deg);
	top: 89%;
	left: 72%;
}

.container6-2 .cards {
	left: 46%;
	top: 67%;
	width: 22%;
	height: 32%;
}

.container6-3 {
	height: 100%;
	width: 100%;
	transform: rotate(180deg);
	display: inline-block;
}

.container6-3 .userName {
	left: 69%;
    top: 60%;
    transform: rotate(180deg);
}

.container6-3 .role {
	transform: rotate(-169deg);
    top: 56%;
    left: 55%;
    font-size: 1.7vw;
}

.container6-3 .profile {
	left: 79%;
}

.container6-3 .points {
	transform: rotate(180deg);
    left: 87%;
    top: 91%;
    width: 12%;
}

.container6-3 .cards {
	left: 67%;
    top: 59%;
    transform: rotate(-31deg);
    width: 21%;
    height: 30%;
}

.container6-3 .handcard {
	transform: rotate(180deg);
}

.container6-4 {
	height: 100%;
	width: 100%;
	transform: rotate(180deg);
}

.container6-4 .userName {
	left: 23%;
    top: 96%;
    transform: rotate(180deg);
    text-align: right;
}

.container6-4 .role {
	transform: rotate(121deg);
    left: 9.5%;
    top: 78%;
    font-size: 1.7vw;
}

.container6-4 .profile {
	left: 63%;
	top: 85%;
}

.container6-4 .points {
	transform: rotate(180deg);
	left: 62%;
	top: 94%;
}

.container6-4 .cards {
	left: 40%;
	top: 66%;
	width: 21%;
	height: 30%;
	transform: scaleX(-1);
}

.container6-4 .handcard {
	transform: rotate(180deg) scaleX(-1);
}

.container6-5 {
	height: 100%;
	width: 100%;
	overflow: hidden;
	transform: rotate(90deg) scaleX(-1) scaleY(-1);
}

.container6-5 .userName {
	left: 47%;
    top: 82.5%;
    transform: rotate(90deg);
    text-align: right;
}

.container6-5 .role {
	transform: rotate(79deg);
    left: 33%;
    top: 77%;
    font-size: 1.7vw;
}

.container6-5 .profile {
	left: 90%;
	top: 89%;
}

.container6-5 .points {
	transform: rotate(90deg);
	left: 90%;
    top: 79%;
    text-align: right;
}

.container6-5 .cards {
	left: 63%;
    top: 61.5%;
    transform: rotate(301deg) scaleX(-1);
    width: 21%;
    height: 30%;
}

.container6-5 .handcard {
	transform: rotate(180deg) scaleX(-1);
}

.container6-6 {
	height: 100%;
	width: 100%;
	transform: rotate(90deg) scaleX(-1) scaleY(-1);
}

.container6-6 .userName {
	left: 41%;
    top: 82.5%;
    transform: rotate(90deg);
    text-align: right;
}

.container6-6 .role {
	transform: rotate(135deg);
    top: 73%;
    left: 2%;
    font-size: 1.7vw;
}

.container6-6 .profile {
	left: 9%;
	top: 89%;
}

.container6-6 .points {
	transform: rotate(90deg);
    left: 15%;
    top: 88%;
    text-align: right;
}

.container6-6 .cards {
	left: 32%;
    top: 67%;
    width: 22%;
    height: 32%;
    transform: scaleX(-1);
}

.container6-6 .handcard {
	transform: scaleX(-1);
}

.container7-2 {
	height: 100%;
	width: 100%;
	transform: rotate(90deg);
	display: inline-block;
}

.container7-2 .userName {
	left: 71%;
	top: 86%;
	transform: rotate(-135deg);
}

.container7-2 .role {
	transform: rotate(-135deg);
    top: 74%;
    left: 49%;
    font-size: 1.7vw;
}

.container7-2 .points {
	transform: rotate(-90deg);
	top: 89%;
	left: 75%;
}

.container7-2 .profile {
	top: 91.5%;
	left: 84%;
	width: 7%;
	height: 7%;
}

.container7-2 .cards {
	left: 51%;
    top: 69%;
    width: 21%;
    height: 30%;
}

.container7-3 {
	height: 100%;
	width: 100%;
	transform: rotate(180deg);
	display: inline-block;
}

.container7-3 .userName {
	left: 69%;
    top: 50%;
	transform: rotate(180deg);
}

.container7-3 .role {
	transform: rotate(180deg);
    top: 50%;
    left: 55%;
    font-size: 1.7vw;
}

.container7-3 .profile {
	left: 92%;
	top: 86%;
	width: 7%;
	height: 7%;
}

.container7-3 .points {
	transform: rotate(180deg);
	left: 85.5%;
	top: 80%;
}

.container7-3 .cards {
	left: 70%;
    top: 50%;
    width: 21%;
    height: 30%;
    transform: rotate(-45deg);
}

.container7-3 .handcard {
	transform: rotate(180deg);
}

.container7-4 {
	height: 100%;
	width: 100%;
	transform: rotate(180deg);
}

.container7-4 .userName {
	left: 67%;
    top: 82%;
    transform: rotate(225deg);
}

.container7-4 .role {
	transform: rotate(225deg);
    left: 48%;
    top: 74%;
    font-size: 1.7vw;
}

.container7-4 .profile {
	left: 78%;
    top: 89%;
    width: 7%;
    height: 7%;
}

.container7-4 .points {
	transform: rotate(180deg);
    left: 81%;
    top: 94%;
}

.container7-4 .cards {
	left: 51%;
    top: 69%;
    width: 21%;
    height: 30%;
}

.container7-4 .handcard {
	transform: rotate(180deg);
}

.container7-5 {
	height: 100%;
	width: 100%;
	transform: rotate(90deg) scaleX(-1) scaleY(-1);
}

.container7-5 .userName {
	left: 68%;
    top: 79%;
    text-align: right;
	transform: rotate(45deg);
}

.container7-5 .role {
    transform: rotate(45deg);
    left: 50%;
    top: 70%;
    font-size: 1.7vw;
}

.container7-5 .profile {
	left: 89%;
    top: 78.5%;
    width: 7%;
    height: 7%;
}

.container7-5 .points {
	transform: rotate(90deg);
    left: 90%;
    top: 84.5%;
    text-align: right;
    width: 14%;
}

.container7-5 .cards {
	left: 74%;
    top: 46%;
    width: 21%;
    height: 30%;
    transform: rotate(-90deg) scaleX(-1);
}

.container7-5 .handcard {
	transform: rotate(180deg) scaleX(-1);
}

.container7-6 {
	height: 100%;
	width: 100%;
	transform: rotate(90deg) scaleX(-1) scaleY(-1);
}

.container7-6 .userName {
	left: 36%;
    top: 82%;
    text-align: right;
	transform: rotate(90deg);
}

.container7-6 .role {
   transform: rotate(90deg);
    left: 27%;
    top: 77%;
    font-size: 1.7vw;
}


.container7-6 .profile {
	left: 86%;
	top: 91%;
	width: 7%;
	height: 7%;
}

.container7-6 .points {
	transform: rotate(90deg);
	left: 76%;
	top: 89%;
	text-align: right;
}

.container7-6 .cards {
	left: 55%;
    top: 65%;
    width: 21%;
    height: 30%;
    transform: rotate(-45deg) scaleX(-1);
}

.container7-6 .handcard {
	transform: rotate(180deg) scaleX(-1);
}

.container7-7 {
	height: 100%;
	width: 100%;
	transform: rotate(90deg) scaleX(-1) scaleY(-1);
}

.container7-7 .userName {
	left: 7%;
    top: 78%;
	transform: rotate(135deg);
	text-align: right;
}

.container7-7 .role {
    transform: rotate(135deg);
    left: 2%;
    top: 73%;
    font-size: 1.7vw;
}

.container7-7 .profile {
	left: 7%;
	top: 91%;
	width: 7%;
	height: 7%;
}

.container7-7 .points {
	transform: rotate(90deg);
	left: 11%;
	top: 88%;
	text-align: right;
}

.container7-7 .cards {
	left: 28%;
    top: 69%;
    width: 21%;
    height: 30%;
    transform: scaleX(-1);
}

.container7-7 .handcard {
	transform: scaleX(-1);
}

/* polygons start in the middle and then go clockwise */
.player-1 {
	width: 100%;
	height: 100%;
	clip-path: polygon(50% 50%, 100% 100%, 0% 100%);
	position: absolute;
	border: 1px solid black;
}

.player-1:before {
	content: '';
	clip-path: polygon(50% 50%, 100% 100%, 0% 100%);
	background-image: url("table.png");
	opacity: 0.5;
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-4-2 {
	width: 100%;
	height: 100%;
	background: black;
	clip-path: polygon(50% 50%, 0% 100%, 0% 0%);
	position: absolute;
	border: 1px solid black;
}

.player-4-2:before {
	content: '';
	clip-path: polygon(50% 50%, 0% 100%, 0% 0%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-4-3 {
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	clip-path: polygon(50% 50%, 100% 0%, 0% 0%);
	border: 1px solid black;
}

.player-4-3:before {
	content: '';
	clip-path: polygon(50% 50%, 100% 0%, 0% 0%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-4-4 {
	width: 100%;
	height: 100%;
	background: black;
	clip-path: polygon(50% 50%, 100% 0%, 100% 100%);
	position: absolute;
	border: 1px solid black;
}

.player-4-4:before {
	content: '';
	clip-path: polygon(50% 50%, 100% 0%, 100% 100%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-5-2 {
	clip-path: polygon(50% 50%, 0 100%, 0% 25%);
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	border: 1px solid black;
}

.player-5-2:before {
	content: '';
	clip-path: polygon(50% 50%, 0 100%, 0% 25%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-5-3 {
	width: 100%;
	height: 100%;
	background: black;
	float: left;
	position: absolute;
	clip-path: polygon(50% 50%, 0% 25%, 0% 0%, 50% 0%);
	border: 1px solid black;
}

.player-5-3:before {
	content: '';
	clip-path: polygon(50% 50%, 0% 25%, 0% 0%, 50% 0%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-5-4 {
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 25%);
	border: 1px solid black;
}

.player-5-4:before {
	content: '';
	clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 25%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-5-5 {
	clip-path: polygon(50% 50%, 100% 25%, 100% 100%);
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	border: 1px solid black;
}

.player-5-5:before {
	content: '';
	clip-path: polygon(50% 50%, 100% 25%, 100% 100%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-6-2 {
	clip-path: polygon(50% 50%, 0% 100%, 0% 40%);
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	border: 1px solid black;
}

.player-6-2:before {
	content: '';
	clip-path: polygon(50% 50%, 0% 100%, 0% 40%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-6-3 {
	width: 100%;
	height: 100%;
	background: black;
	float: left;
	position: absolute;
	clip-path: polygon(50% 50%, 0% 40%, 0% 0%, 20% 0%);
	border: 1px solid black;
}

.player-6-3:before {
	content: '';
	clip-path: polygon(50% 50%, 0% 40%, 0% 0%, 20% 0%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-6-4 {
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	clip-path: polygon(50% 50%, 20% 0%, 80% 0%);
	border: 1px solid black;
}

.player-6-4:before {
	content: '';
	clip-path: polygon(50% 50%, 20% 0%, 80% 0%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-6-5 {
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	clip-path: polygon(50% 50%, 80% 0%, 100% 0%, 100% 40%);
	border: 1px solid black;
}

.player-6-5:before {
	content: '';
	clip-path: polygon(50% 50%, 80% 0%, 100% 0%, 100% 40%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-6-6 {
	clip-path: polygon(50% 50%, 100% 40%, 100% 100%);
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	border: 1px solid black;
}

.player-6-6:before {
	content: '';
	clip-path: polygon(50% 50%, 100% 40%, 100% 100%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-7-2 {
	clip-path: polygon(50% 50%, 0% 100%, 0% 50%);
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	border: 1px solid black;
}

.player-7-2:before {
	content: '';
	clip-path: polygon(50% 50%, 0% 100%, 0% 50%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-7-3 {
	clip-path: polygon(50% 50%, 0% 50%, 0% 0%);
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	border: 1px solid black;
}

.player-7-3:before {
	content: '';
	clip-path: polygon(50% 50%, 0% 50%, 0% 0%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-7-4 {
	width: 100%;
	height: 100%;
	background: black;
	float: left;
	position: absolute;
	clip-path: polygon(50% 50%, 0% 0%, 50% 0%);
	border: 1px solid black;
}

.player-7-4:before {
	content: '';
	clip-path: polygon(50% 50%, 0% 0%, 50% 0%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-7-5 {
	width: 100%;
	height: 100%;
	background: black;
	float: left;
	position: absolute;
	clip-path: polygon(50% 50%, 50% 0%, 100% 0%);
	border: 1px solid black;
}

.player-7-5:before {
	content: '';
	clip-path: polygon(50% 50%, 50% 0%, 100% 0%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-7-6 {
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	clip-path: polygon(50% 50%, 100% 0%, 100% 50%);
	border: 1px solid black;
}

.player-7-6:before {
	content: '';
	clip-path: polygon(50% 50%, 100% 0%, 100% 50%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.player-7-7 {
	clip-path: polygon(50% 50%, 100% 50%, 100% 100%);
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	border: 1px solid black;
}

.player-7-7:before {
	content: '';
	clip-path: polygon(50% 50%, 100% 50%, 100% 100%);
	background-image: url("table.png");
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid black;
}

.stack {
	height: 50%;
	width: 30%;
	border: 1px solid black;
	display: inline-block;
	margin-left: 17%;
	margin-top: 25%;
}

.heap {
	height: 50%;
	width: 30%;
	border: 1px solid black;
	display: inline-block;
	margin-left: 5%;
}