.disabledStyle {
	display: block;
	margin-top: 14px;
	padding-top: 4px;
	border-radius: 20px;
	border: 2px solid grey;
	text-decoration: none;
	width: 100px;
	height: 31px;
	text-align: center;
	line-height: 25px;
	color: grey;
	font-size: 1em;
	font-weight: bold;
}

.disabledStyle:hover {
	color: grey;
}

